<template>
	<transition name="slide-fade">
		<div class="modal" :class="{ active: active }" v-if="active">
	        <div class="modal-overlay"></div>
	        <div class="modal-container" style="width: 450px">
	            <div class="modal-header">
           			<button class="btn btn-clear float-right" @click="close"></button>
               		<slot class="modal-title" name="header">Модальное окно</slot>
	            </div>
	            <div class="modal-body">
	                <div class="content">
	                	<slot name="content">...</slot>
	                </div>
	            </div>
	            <div class="modal-footer">
	            	<slot name="footer">
	            		<button type="button" class="btn btn-primary">
		                    Действие
		                </button>
	            	</slot>
	            </div>
	        </div>
	    </div>
	</transition>
</template>

<script>
	export default {
		props: {
			active: Boolean,
		},
		methods: {
			close() {
				return this.$emit('close', true);
			}
		}
	}
</script>

<style>
	.slide-fade-enter-active {
		transition: all .3s ease;
	}
	.slide-fade-leave-active {
		transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	/* .slide-fade-leave-active for <2.1.8 */
	.slide-fade-enter, .slide-fade-leave-to {
		transform: translateX(10px);
		opacity: 0;
	}
</style>