@import "compass/css3/";

.action {
	position: relative;
	width: 100%;
	height: 95px;
	border-radius: 4px;
	padding: 15px;
	@include background-image(linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, .6)));
	color: #fff;
	p {
		position: absolute;
		bottom: 0;
		width: 60%;
		font-size: 16px;
		font-weight: 300;
	}
	i {
		float: right;
	}
}

.action:focus,
.action:hover {
	@include background-image(linear-gradient(45deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .7)));
}

.action:active,
.action.active {
	@include background-image(linear-gradient(45deg, rgba(0, 0, 0, .1), rgba(255, 255, 255, .5)));
}

.action-green {
	background-color: #b4d4a8;
}

.action-pink {
	background-color: #e2939a;
}

.action-orange {
	background-color: #e4a59a;
}

.action-lavender {
	background-color: #bca5cb;
}

.action-purple {
	background-color: #b1b0d4;
}

.action-blue {
	background-color: #a0b6dc;
}

.action-red {
	background-color: #df8e8c;
}