/*
	Button primary
 */
.btn.btn-primary {
	background: #8691c8;
	border-color: #8691c8;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
	background: lighten(#8691c8, 5%);
	border-color: lighten(#8691c8, 5%);
}
.btn.btn-primary:active,
.btn.btn-primary.active {
	background: darken(#8691c8, 5%);
	border-color: darken(#8691c8, 5%);
}