.login {

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../images/background.jpg');
		background-repeat: no-repeat;
	}

	.box {
		position: relative;
		margin: 0 auto;
		background: #fff;
		border-radius: 4px;
		margin-top: 50px;
		padding: 35px;

		.header {
			font-style: normal;
			font-weight: 300;
			font-size: 24px;
			color: #5c5c5c;
			text-align: center;
		}

		.btn-login-action {
			color: #fff;
			width: 105px;
		}
	}
}