@import "compass/css3/";

.main {
	margin-top: 50px;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 2px 0px 25px rgba(0, 0, 0, .05);
	margin-bottom: 50px;
	footer {
		text-align: center;
		padding: 15px;
		color: #666666;
		font-size: 11px;
	}
	.main-left {
		padding: 0px;
		margin: 0px;
		position: relative;
		.main-user {
			padding: 18px;
			border-bottom: 1px solid #eee;
			.main-user-left {
				float: left;
				img {
					width: 45px;
					height: 45px;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
				}
			}
			.main-user-right {
				color: #777777;
				overflow: hidden;
				.main-user-right-name {
					font-size: 14px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				p {
					padding: 0px;
					margin: 0px;
					padding-left: 18px;
					color: #777777;
					font-weight: 400;
					font-size: 12px;
					a {
						color: #777777;
					}
				}
			}
		}

		.main-menu {
			margin: 0;
			padding: 0;
			background: #fff;
			list-style: none;
			padding-bottom: 40px;
			li {
				margin: 0px;
			}
			li:hover {
				background-color: #eee;
			}
			li a {
				display: block;
				text-decoration: none;
				color: #666666;
				font-size: 14px;
				font-weight: 300;
				padding: 12px;
				padding-left: 30px;
				@include border-radius(0px);
			}
			.active a {
				color: #fff;
				@include background-image(linear-gradient(to right, #6979b8, #7282c2));
			}
			.active a:hover {
				opacity: 0.9;
			}
		}
	}
	.main-right {
		border-left: 2px solid #eee;
		padding: 36px;

		.header {
			color: #666666;
			font-size: 18px;
			font-weight: 300;
		}

		.message {
			font-size: 16px;
		}
	}
}


td.active,
th.active {
	background-color: lighten(#8691c8, 30%);
}

.breadcrumb {
	padding: 0px;
}