@import "compass/css3/";

.profile {
	border: none;
	.panel-header {
		img {
			width: 150px;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, .25);
		}
		h4 {
			color: #6f6f6f;
		}
		h6 {
			color: #6f6f6f;
		}
		.btn {
			font-size: 12px;
			width: 100%;
		}
	}
	.panel-body {
		.cell {
			text-align: center;
			color: #585858;
			text-align: 12px;
			margin-top: 30px;
			.icon {
				border-radius: 80px;
				margin: 0px auto;
				width: 80px;
				height: 80px;
				background: #8691c8;
				@include background-image(linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, .5)));
				color: #fff;
				margin-bottom: 18px;

				i {
					padding-top: 20px;
				}
			}
		}
	}
} 