th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(-75deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

th.deg90 > div {
	transform: translate(5px, 51px) rotate(-90deg);
}

th.no-margin > div {
	margin-left: -10px;
	margin-right: -10px;
}

th.no-border > div > span {
	border-bottom: none;
}