/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body, html {
	background: #f4f5f9;
	font-family: 'Roboto', sans-serif;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}



@import "./form";
@import "./actions";
@import "./login";
@import "./main";
@import "./profile";
@import "./search";
@import "./create";
@import "./progress";