@import "compass/css3/";

.search {
	.profile {
		display: block;
		background: #f8f9fa;
		text-align: center;
		padding: 35px;
		border-radius: 4px;
		font-size: 14px;
		text-decoration: none;
		font-weight: 400;
		color: #666;
		.image {
			width: 75px;
			height: 75px;
			margin: 0 auto;
			margin-bottom: 35px;
		}
	}
	.profile:hover {
		color: #fff;
		@include background(linear-gradient(45deg, lighten(#8691c8, 10%), lighten(#a6b0eb, 10%)));
	}
}